.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-slogan {
  color: black;
  margin: 15px;
  border: white;
  background: white;
  opacity: 0.5;
}

.App-intro {
  margin: 15px;
}

.App-start {
  display: flex;
  align-content: center;
  justify-content: center;
}

